<h1>Galpão: <%= @warehouse.code%></h1>
<h2><%= @warehouse.description%></h2>
<div>
    <p><strong>Nome:</strong> <%= @warehouse.name %></p>
    <p><strong>Cidade:</strong> <%= @warehouse.city %></p>
    <p><strong>Área:</strong> <%= @warehouse.area %> m2</p>
    <p><strong>Endereço:</strong> <%= @warehouse.adress %> CEP: <%= @warehouse.cep %></p>
</div>
<%= link_to 'Voltar', root_path %>
